body{
    box-sizing: border-box;
    margin: 0;
    width:100vw;
}

.container{
    padding-top: -20%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0 20%;
    height: 750px;
    z-index: 10;
}
@media(max-device-width:938px){
    .container{
        padding:0 12%;
    }
}

@media(max-device-width:375px){
    .container{
        padding:0 7%;
    }
}

.bgStartSection{
    background: url("./imgsrc/headerBG.svg") no-repeat;
    background-size:cover;
    padding-top: 1%
}

.header{
    padding-top: 12px;
}

.logo{
    width: 40px;
    height: 40px;
    background: url("./imgsrc/logo.svg") no-repeat;
    border-radius: 60%;
    grid-column-start:3;
    grid-column-end:3 ;
}
.header_burger{
    display:none;
}
@media(max-device-width:768px){
.header_burger{
    display: block;
    position: relative;
    width:30px;
    height: 20px;
    margin-top: 68%;
    grid-column-start: 35;
    z-index: 51;
}
}
@media(max-device-width:768px){
    .header_burger{
        margin-top: 22%;
    }
    
.header_burger::before,
.header_burger::after{
    content:'';
    background-color:#FFFFFF;
    position: absolute;
    width:100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
}
.header_burger::before{
    top:0;
}
.header_burger::after{
    bottom:0;
}
.header_burger span{
    background-color:#FFFFFF;
    position: absolute;
    left: 0;
    width:100%;
    height:2px;
    top: 9px;
    transition: all 0.3s ease;
}
.header_burger.active::before{
    transform: rotate(45deg);
    top:9px;

}
.header_burger.active::after{
    transform: rotate(-45deg);
  bottom:9px;
}
.header_burger.active span{
    transform: scale(0);
}
}
#nav{
    display: flex;
    grid-column-start: 5;
    grid-column-end:20;
    align-items: center;
    justify-content: space-between;
    transition: all 0.6s ease;
}
#link_header{
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    opacity: 60%;
    transition: opacity 0.3s;
}
#link_header:hover{
    opacity: 100%;

   
}
#link_header:hover {
        opacity: 1;
        border-bottom:2px solid #30DDDE;
}

@media (max-device-width:1058px){
    #nav{
        grid-column-end:25;
        
    }
 }
 @media (max-device-width:852px){
    #nav{
        grid-column-end:27;
        
    }
 }


@media (max-device-width:768px){
    #nav{
        box-sizing:border-box;
        margin-left: 68%;
        margin-top: -350%;
        width: 27%;
        height: 311px;
        display: flex;
        flex-direction:column;
        background-color:#111439;
        position: absolute;
        z-index: 50;
        border-radius: 25px;
        padding: 5%;
        padding-top: 50px;
        align-items: normal;
        text-align: left;
        
    }
 
    #link_header{
        font-size: 19px;
    }
}
@media (max-device-width:375px){
    #nav{
        padding-right: 3%;
        padding-top: 16%;
        margin-left: 56%;
        width: 41%;
    }

}


#nav.active{
    margin-top: -1%;
    position: absolute;

}
@media (max-device-width:375px){

    #nav.active{
        margin-top: -3%;
    }

}



.grid{
    display: grid;
    grid-template-columns: 1fr repeat(37, 1fr) ;   
}

.gridcontent{
    display: grid;
    grid-template-columns: 1fr repeat(24, 1fr) ;   
    max-height: 750px;
}



#link{
    text-decoration: none;
    color:#FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    opacity: 60%;
    transition: opacity 0.3s;
}

#link:hover{
    opacity: 100%;

   
}
#link:hover {
        opacity: 1;
        border-bottom:2px solid #30DDDE;
}
.socials{
    display: flex;
    justify-content: space-between;
    align-items:center;
    grid-column-start:26 ;
    grid-column-end: 35;
}
@media(max-device-width:1058px){
    .socials{
        grid-column-start:28 ;
        grid-column-end: 38;
    }
}

@media(max-device-width:768px){
    .socials{
        display: none;
    }
}

#social{
    display: block;
}
@media(max-device-width:854px){
    #social{
        display: none;
    }
}
#logInHeader{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:#FAFAFA;
    width: 151px;
    border-radius:20px;
    height: 40px;
    background: none;
    border: solid 2px;
    cursor: pointer;
    transition: 0.2s linear;
    outline: none;
}
#logInHeader:hover{
    background-color:#30DDDE;
    border:none;
}
@media(max-device-width:768px){
    #logInHeader{
     display: none;
    }
}

.title_header{
    color:#FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: calc(39px + (15 + 15 * 0.7)*((100vw - 375px) / 1440 ));
    font-weight:900;
    grid-column-start:1;
    grid-column-end: 20;
    margin-top: 10rem;
}


@media(max-device-width:768px){
    .title_header{
    grid-column-end: 25;
    margin-top: 38%;
    }
}


.subtitle_header{
    color:#FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: calc(22px + (10 + 10 * 0.7)*((100vw - 375px) / 1440 ));
    font-weight:300;
    grid-column-start:1;
    grid-column-end:28;
    margin-top: -3%;
}
@media(max-device-width:768px){
    .subtitle_header{
    margin-top: -2%;
    }
}



.subsubtitle_header{
    color:#FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight:400;
    grid-column-start:1;
    grid-column-end:13;
    margin-top: 1.5rem;
}
@media(max-device-width:1040px){
    .subsubtitle_header{
    grid-column-end: 18;
}
}

@media(max-device-width:768px){
    .subsubtitle_header{
    grid-column-end: 25;
}
}


#getStarted{
    grid-column-start:1;
    grid-column-end:6;
    height: 54px;
    color:#FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight:700;
    background-color:#30DDDE;
    border-radius:70px;
    border: none;
    margin-top: 25%;
    transition: 0.2s linear;
    cursor: pointer;
    outline: none;
}
#getStarted:hover{
    background-color:#21C5C6;
}
@media(max-device-width:768px){
    #getStarted{
    grid-column-end: 11;
}
}
@media(max-device-width:375px){
    #getStarted{
    grid-column-end: 25;
}
}

#watchlink{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: bold;
    grid-column-start:7;
    grid-column-end:19;
    align-self:center;
    color:#FFFFFF;
    margin-top: 3rem;
    text-decoration: none;
}
@media(max-device-width:768px){
    #watchlink{
        grid-column-start:13;
        grid-column-end:25;
}
}

@media(max-device-width:375px){
    #watchlink{
        grid-column-start:6;
}
}
@media(max-device-width:320px){
    #watchlink{
        grid-column-start:4;
}
}

#Watch_Case_Btn{
    margin-left:5% ;
}





   .tabletContainer{
    position: relative;
    margin: 0 auto;
    padding: 0 21%;
    height: 750px;
}

@media (max-device-width: 1269px){
    .tabletContainer{ 
    padding: 0 18%;
    }
}

@media (max-device-width: 938px){
    .tabletContainer{ 
    padding: 0 8%;
    }
}


@media (max-device-width: 768px){
    .tabletContainer{ 
    padding: 0 6%;
    }
}



.features{
    height: 800px;
    background:#FFFFFF;
}
@media(max-device-width:689px){
    .features{
        height: 830px;
    }
}
@media(max-device-width:510px){
    .features{
        height: 900px;
    }
}

@media(max-device-width:479px){
    .features{
        display:none;
    }
}



#title_features{
    grid-column-start:10;
    grid-column-end:16;
    color:#0D1C3F;
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    font-weight:800;
    margin-top: 2rem;
}

.feature1{
    grid-column-start:2;
    grid-column-end:11;
    font-family: "Poppins", sans-serif;
    font-size:24px ;
    color:#0D1C3F ;
    font-weight:700 ;
    margin-top: 2.5rem;
    margin-left: 1rem;
}
@media(max-device-width:627px){
    .feature1{
        font-size:20px ;
    }
}


.feature4{
    grid-column-start:17;
    grid-column-end:27;
    grid-row-start: 2;
    font-family: "Poppins", sans-serif;
    font-size:24px ;
    color:#0D1C3F ;
    font-weight:700 ;
    margin-top: 2.5rem;
    margin-left: 1rem;
}
@media(max-device-width:627px){
    .feature4{
        font-size:20px ;
    }
}

.feature5{
    grid-column-start:17;
    grid-column-end:27;
    grid-row-start: 3;
    font-family: "Poppins", sans-serif;
    font-size:24px ;
    color:#0D1C3F ;
    font-weight:700 ;
    margin-top: 2.5rem;
    margin-left: 1rem;
}
@media(max-device-width:627px){
    .feature5{
        font-size:20px ;
    }
}

.feature6{
    grid-column-start:17;
    grid-column-end:27;
    grid-row-start: 4;
    font-family: "Poppins", sans-serif;
    font-size:24px ;
    color:#0D1C3F ;
    font-weight:700 ;
    margin-top: 2.5rem;
    margin-left: 1rem;
}
@media(max-device-width:627px){
    .feature6{
        font-size:20px ;
    }
}





.description{
    font-size:16px ;
    color:#0D1C3F ;
    font-weight:400 ;
    margin-top: 0.2rem;
}
@media(max-device-width:1116px){
    .description{
        font-size:15px ;
    }
}
@media(max-device-width:627px){
    .description{
        font-size:13px ;
    }
}


.icon_feature1{
    grid-column-start:1;
    grid-column-end:1;
    margin-top: 3rem;

}

@media(min-device-width:1920px){
    .icon_feature1{

        }
}




.icon_feature4{
    grid-column-start:16;
    grid-column-end:16;
    grid-row-start:2 ;
    margin-top: 3rem;
    
}

.icon_feature5{
    grid-column-start:16;
    grid-column-end:16;
    grid-row-start:3 ;
    margin-top: 3rem;
    
}

.icon_feature6{
    grid-column-start:16;
    grid-column-end:16;
    grid-row-start:4 ;
    margin-top: 3rem;
}
@media(min-device-width:1920px){
    .icon_feature4{
 
        }
        .icon_feature5{


            }
            .icon_feature6{
  
 
                }
}



#howItWorks{
    background-color:#EAEDF7;
    max-height: 750px;
    position: relative;
    overflow: hidden;
    
}

#video{
    width:560px;
    height:436px;
    margin-top: 10%;
    margin-left: 50%;
    border-radius:20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    position: absolute;
    z-index: 200;
}
@media(max-device-width:1112px){
    #video{
        width:50%;
    }
}
@media(max-device-width:768px){
    #video{
        width:80%;
        margin-left: 13%;
        margin-top: 17rem;
    }
}
@media(max-device-width:676px){
    #video{
        margin-left: 11%;
    }
}
@media(max-device-width:375px){
    #video{
        margin-left: 12%;
    }
}



#howItWorks_Bg{
    position: absolute;
    margin-left: 57%;
    margin-top: 1%;
    padding-right:30%
}
@media(max-device-width:768px){
    #howItWorks_Bg{
        margin-left: 20%;
        margin-top: 2%;
        padding-right: 0;
    }
}

@media(max-device-width:375px){
    #howItWorks_Bg{
        margin-left: -42%;
        margin-top: 4%;
    }
}
#linkHowItWorks{
    margin-top: 16rem;
    grid-column-start: 1;
    grid-column-end:12;
    font-family: "Poppins", sans-serif;
    font-size:16px ;
    font-weight:500 ;
    color:#1C62F5;
    text-decoration: none;
}


@media(max-device-width:768px){
    #linkHowItWorks{
        grid-column-start: 9;
        grid-column-end: 18;
        font-size:15px;
        margin-top: 4rem;
        text-align: center;
    }
}

@media(max-device-width:676px){
    #linkHowItWorks{
        grid-column-start: 3;
         grid-column-end: 24;
    }
}


@media(max-device-width:375px){
    #linkHowItWorks{
    grid-column-start: 2;
    grid-column-end: 25;
    margin-top: 4rem;
    }
}


#howItWorksTitle{
    grid-column-start: 1;
    grid-column-end:16;
    font-family: "Poppins", sans-serif;
    font-size:38px ;
    font-weight:900 ;
    color:#0D1C3F;
    margin-top: 2%;
}
@media(max-device-width:768px){
    #howItWorksTitle{
        grid-column-start: 4;
        grid-column-end: 23;
        grid-row-start: 1;
        margin-top: 3rem;
        font-size:30px ;
        text-align: center;
    }
}
@media(max-device-width:590px){
    #howItWorksTitle{
        font-size:28px ;
    }
}
@media(max-device-width:516px){
    #howItWorksTitle{
        font-size:27px ;
    }
}
@media(max-device-width:375px){
    #howItWorksTitle{
        grid-column-start: 2;
        grid-column-end: 25;
        margin-top: 24%;
    }
}




#subTitleHowItWorks{
    grid-column-start: 1;
    grid-column-end:12;
    font-family: "Poppins", sans-serif;
    font-size:16px ;
    font-weight:400 ; 
    color:#0D1C3F;
    margin-top: -4%;
}
@media(min-device-width:1920px){
    #subTitleHowItWorks{
        margin-top: 0;
    }
}
@media(max-device-width:768px){
    #subTitleHowItWorks{
        grid-column-start: 6;
        grid-column-end: 21;
        margin-top: -7rem;
        text-align: center;
        font-size:15px ;
    }
}
@media(max-device-width:590px){
    #subTitleHowItWorks{
        font-size:14px ;
    }
}
@media(max-device-width:516px){
    #subTitleHowItWorks{
        grid-column-start: 4;
        grid-column-end: 23;
        font-size:13px ;
    }
}


@media(max-device-width:375px){
    #subTitleHowItWorks{
        grid-column-start: 1;
        grid-column-end: 30;
    }
}


.slaider{
    position: relative;
    outline: none;
    overflow: hidden;
    
}
@media(max-device-width:375px){
    .slaider{
        height: 643px;
    }
}
.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
}

.slick-dots{
    display: flex;
    width:fit-content;
    list-style: none;
    margin-left: 43%;
    margin-top: -2rem;
}

.slick-dots li {
    margin: 0px 8px;
}

li.slick-active button {
    width:35px ;
    height: 5px;
    border:none;
    border-radius:25px;
    background-color:#1C62F5;
    
}



.slick-dots button{
 width:35px ;
 height: 5px;   
 font-size: 0;
 border:none;
 border-radius:25px;
 background-color:#EDEFF8;
}


.slick-arrow{
    width:50px;
    height: 50px;
    font-size: 0px;
    background: none;
    position: absolute;
    border:none;
    outline: none;
    cursor: pointer;
}
.slick-prev{
    width:42px;
    height: 42px;
    background-image:url('./imgsrc/button_left.svg');
    z-index: 1000;
    margin-left: 21%;
    margin-top: 40rem;

}
.slick-next{
    width:42px;
    height: 42px;
    background-image:url('./imgsrc/button_right.svg');
    z-index: 1000;
    margin-left: 26%;
    margin-top: -6.8rem;
}


 


@media (max-device-width:768px){
    .slick-prev{
        margin-left: 12%;
        margin-top: 39rem;

    }
    .slick-next{
        margin-left: 22%;
        margin-top: -7.8rem;
    }
    .slick-dots{
        margin-left: 35.5%;
    }
}
@media(max-device-width:375px){
    .slick-prev{
        margin-left: 10%;
        margin-top: 30rem;
    
    }
    .slick-next{
        margin-left: 82%;
        margin-top: -16.8rem;
    }
    .slick-dots{
        margin-left: 19.5%;
        margin-top: -11rem;
    }
}




.sliderGrid{
        display: grid;
        grid-template-columns: 1fr repeat(36, 1fr);
}




.citizenApp{
    height: 750px;
}

#citizenAppPict{
    grid-column-start: 2;
    grid-column-end:19;
}
@media (max-device-width:1130px){
    #citizenAppPict{
    grid-column-start: 1;
    margin-left: -22%;
    }
}
@media (max-device-width:901px){
    #citizenAppPict{
    margin-left: -38%;
    }
}

@media (max-device-width:768px){
    #citizenAppPict{
    grid-column-end: 20;
    margin-left: -62%;
    }
}
@media (max-device-width:661px){
    #citizenAppPict{
    margin-left: -76%;
    }
}
@media (max-device-width:623px){
    #citizenAppPict{
    position: absolute;
    margin-left: 26rem;
    }
}
@media (max-device-width:375px){
    #citizenAppPict{
        display: none;
    }
}


#citizenTitle{
    margin-top: 14rem;
    grid-column-start: 21;
    grid-column-end: 35;
    grid-row-start: 1;
    height:fit-content;
    font-family: "Poppins", sans-serif;
    font-size:38px ;
    font-weight:900 ;
    color:#0D1C3F;
}




@media (max-device-width:901px){
    #citizenTitle{
    grid-column-end: 40;

    }
}
@media (max-device-width:768px){
    #citizenTitle{
        grid-column-start: 22;

    }
}
@media (max-device-width:716px){
    #citizenTitle{
        font-size: 33px;
    }
}
@media (max-device-width:623px){
    #citizenTitle{
        grid-column-start: 11;
        grid-column-end: 40;
    }
}


@media (max-device-width:375px){
    #citizenTitle{
        grid-column-start: 5;
        grid-column-end: 36;
        margin-top: 9rem;
        text-align: center;
    }
    }
    @media (max-device-width:324px){
        #citizenTitle{
            font-size:26px ;
            grid-column-start: 4;

        }
        }
    

#citizenSubTitle{
    margin-top: 19rem;
    grid-column-start: 21;
    grid-column-end: 32;
    grid-row-start: 1;
    height: fit-content;
    font-family: "Poppins", sans-serif;
    font-size:16px ;
    font-weight:400 ; 
    color:#0D1C3F;
}



@media (max-device-width:901px){
    #citizenSubTitle{
        grid-column-end: 37;
    }
}
@media (max-device-width:768px){
    #citizenSubTitle{
        grid-column-start: 22;
    }
}
@media (max-device-width:661px){
    #citizenSubTitle{
        font-size:15px ;
    }
}
@media (max-device-width:623px){
    #citizenSubTitle{
        margin-top: 18rem;
        grid-column-start: 11;
        grid-column-end: 30;
    }
}
@media (max-device-width:493px){
    #citizenSubTitle{
        grid-column-end: 36;
    }
}

@media (max-device-width:375px){
    #citizenSubTitle{
        grid-column-start: 8;
        grid-column-end: 33;
        margin-top: 13rem;
        text-align: center;
    }
}
@media (max-device-width:324px){
    #citizenSubTitle{
        font-size:14px ;
        grid-column-start: 5;
        grid-column-end: 35;
 
    }
}


#citizenFeatures{
    margin-top:-18rem;
    grid-column-start: 21;
    grid-column-end: 32;
    grid-row-start: 2;
    height: fit-content;
}



@media (max-device-width:768px){
    #citizenFeatures{
        grid-column-start: 22;
        grid-column-end: 33;
    }
}
@media (max-device-width:623px){
    #citizenFeatures{
        margin-top: 1rem;
        grid-column-start: 11;
        grid-column-end: 28;
    }
}
@media (max-device-width:493px){
    #citizenFeatures{
        grid-column-end: 35;
    }
}


@media (max-device-width:375px){
    #citizenFeatures{
        grid-column-start: 10;
        grid-column-end: 40;
        margin-top: 1.5rem;
    }
}

@media (max-device-width:324px){
    #citizenFeatures{
        grid-column-start: 9;
        font-size:13px ;

    }
}




.citizen_Feature{
    font-family: "Poppins", sans-serif;
    font-size:14px ;
    font-weight:500 ;
    color:#0D1C3F;
}
@media (max-device-width:661px){
    .citizen_Feature{
        font-size:13px ;

    }
}


.citizen_Feature_Dot{
    margin-right: 5%;
}






#departmentApp{
    height: 750px;
}

#departmentAppPict{
    grid-column-start: 23;
    grid-column-end:37;
    grid-row-start:1 ;
}
@media (max-device-width:1028px){
    #departmentAppPict{
        grid-column-start: 27;
    }
}

@media (max-device-width:768px){
    #departmentAppPict{
        grid-column-start: 24;
    }
}
@media (max-device-width:614px){
    #departmentAppPict{
        grid-column-start: 27;
    }
}
@media (max-device-width:472px){
    #departmentAppPict{
        grid-column-start: 33;
    }
}

@media (max-device-width:375px){
    #departmentAppPict{
        display: none;
    }
}

#departmentTitle{
    margin-top: 13rem;
    grid-column-start: 9;
    grid-column-end: 23;
    grid-row-start:1 ;
    font-family: "Poppins", sans-serif;
    font-size:38px ;
    font-weight:900 ;
    color:#0D1C3F;
}
@media (max-device-width:1104px){
    #departmentTitle{
        grid-column-end: 32;
    }
}

@media (max-device-width:768px){
    #departmentTitle{
        font-size:34px ;
        grid-column-end: 35;
        grid-column-start: 3;
    }
}
@media (max-device-width:614px){
    #departmentTitle{
        font-size: 29px;
        grid-column-end: 35;
        grid-column-start: 3;
    }
}

@media (max-device-width:375px){
    #departmentTitle{    
        margin-top: 9rem;
        grid-column-end: 41;
        text-align: center;
        grid-column-start: 1;
        font-size: 28px;
    }
}
@media (max-device-width:308px){
    #departmentTitle{    
   
        font-size: 24px;
    }
}




#departmentSubTitle{
    margin-top: 17rem;
    grid-column-start: 9;
    grid-column-end: 19;
    grid-row-start:1 ;
    font-family: "Poppins", sans-serif;
    font-size:16px ;
    font-weight:400 ; 
    color:#0D1C3F;
}
@media (max-device-width:1104px){
    #departmentSubTitle{
        grid-column-end: 24;
    }
}

@media (max-device-width:768px){
    #departmentSubTitle{
        font-size:15px;
        grid-column-end: 23;
        grid-column-start: 3;
    }
}
@media (max-device-width:614px){
    #departmentSubTitle{
        font-size:14px;
        grid-column-end: 26;
    
    }
}
@media (max-device-width:472px){
    #departmentSubTitle{
        grid-column-end: 30;
    }
}

@media (max-device-width:375px){
    #departmentSubTitle{
        margin-top: 13rem;
        grid-column-end: 36;
        grid-column-start: 3;
        text-align: center;
    }
}
@media (max-device-width:308px){
    #departmentSubTitle{
        font-size:12px;
    }
}



#departmentFeatures{
    margin-top: 24rem;
    grid-column-start: 9;
    grid-column-end: 20;
    grid-row-start:1 ;
}

@media (max-device-width:1104px){
    #departmentFeatures{
        grid-column-end: 24;
    }
}

@media (max-device-width:768px){
    #departmentFeatures{
        grid-column-end: 23;
        grid-column-start: 3;
    }
}
@media (max-device-width:375px){
    #departmentFeatures{
        margin-top: 19rem;
        grid-column-end: 33;
        grid-column-start: 8;
    }
}

.department_Feature{
    font-family: "Poppins", sans-serif;
    font-size:14px ;
    font-weight:500 ;
    color:#0D1C3F;
}
@media (max-device-width:768px){
    .department_Feature{
        font-size:13px ;
    }
}
@media (max-device-width:308px){
    .department_Feature{
        font-size:12px ;
    }
}
.department_Feature_Dot{
    margin-right: 5%;
}





#adminApp{
    height: 750px;
}

#adminBg{
    grid-column-start:21;
    grid-column-end:37 ;
    grid-row-start:1;
    margin-top: 6rem;
}
@media (min-device-width:1920px){
    #adminBg{
        grid-column-start: 26;
        margin-top: 20%
    }
}

@media (max-device-width:768px){
    #adminBg{
        grid-column-start: 19;
    }
}
@media (max-device-width:375px){
    #adminBg{
        display: none;
    }
}

#adminTitle{
    margin-top: 14rem;
    grid-column-start: 9;
    grid-column-end: 25;
    grid-row-start:1;
    font-family: "Poppins", sans-serif;
    font-size:38px ;
    font-weight:900 ;
    color:#0D1C3F;
}


@media (max-device-width:927px){
    #adminTitle{
        grid-column-end: 26;
    }
}

@media (max-device-width:768px){
    #adminTitle{
        grid-column-start: 3;
        grid-column-end: 25; 
    }
}
@media (max-device-width:478px){
    #adminTitle{
        font-size:34px ;
    }
}
@media (max-device-width:375px){
    #adminTitle{
        text-align: center;
        margin-top: 9rem;
        grid-column-start: 1;
        grid-column-end: 40;
    }
}

#adminSubTitle{
    margin-top: 18rem;
    grid-column-start: 9;
    grid-column-end: 19;
    grid-row-start:1;
    font-family: "Poppins", sans-serif;
    font-size:16px ;
    font-weight:400 ; 
    color:#0D1C3F;
}

@media (max-device-width:768px){
    #adminSubTitle{
    grid-column-end: 20;
    grid-column-start: 3;
    }
}
@media (max-device-width:478px){
    #adminSubTitle{
        font-size:14px ;
    }
}
@media (max-device-width:375px){
    #adminSubTitle{
        text-align: center;
        margin-top: 13rem;
        grid-column-end: 32;
        grid-column-start: 8;
    }
}
@media (max-device-width:241px){
    #adminSubTitle{
    grid-column-end: 33;
    grid-column-start: 5;
    }
}


#adminFeatures{
    margin-top: 23rem;
    grid-column-start: 9;
    grid-column-end: 18;
    grid-row-start:1;
}



@media (max-device-width:768px){
    #adminFeatures{
        grid-column-end: 20;
        grid-column-start: 3;
    }
}


@media (max-device-width:375px){
    #adminFeatures{
        margin-top: 18rem;
        grid-column-end: 30;
        grid-column-start: 12;
    }
}

.admin_Feature{
    font-family: "Poppins", sans-serif;
    font-size:14px ;
    font-weight:500 ;
    color:#0D1C3F;
}
@media (max-device-width:478px){
    .admin_Feature{
        font-size:13px ;
    }
}

.admin_Feature_Dot{
    margin-right: 5%;
}







#getStartedForm{
    height: 750px;
    background-image:url('./imgsrc/getStartedFormBg.jpg');
    background-size:cover;
    margin-top: 3%;

}

#getStartedFormTitle{
    grid-column-start: 1;
    grid-column-end:19;
    font-family: "Poppins", sans-serif;
    font-size:56px ;
    font-weight:900 ;
    color:#FFFFFF;
    margin-top: 25%;
}
@media(max-device-width:768px){
    #getStartedFormTitle{
        grid-column-end:25;
    }
}
@media(max-device-width:375px){
    #getStartedFormTitle{
        grid-column-end:25;
        font-size: 43px;
    }
}
@media(max-device-width:289px){
    #getStartedFormTitle{
        font-size: 36px;
    }
}



#nameInput{
    grid-column-start: 1;
    grid-column-end:12;
    font-family: "Poppins", sans-serif;
    font-size:18px ;
    font-weight:700 ;
    background:none;
    margin-top:15%;
    outline: none;
}

#nameInput:focus{
    border:none;
    border-bottom:2px solid #25DBDC;
}
@media(max-device-width:375px){
    #nameInput{
        grid-column-end:26;
    
    }
}


input[type=text]::placeholder{
    
    color:#FFFFFF;
}
input[type=email]::placeholder{
    color:#FFFFFF;
}


input[type=text] {
    color: #FFFFFF;
    border: none;
    border-bottom: 2px solid #FFFFFF;
  }






  #emailInput{
    grid-column-start: 14;
    grid-column-end:26;
    font-family: "Poppins", sans-serif;
    font-size:18px ;
    font-weight:700 ;
    background:none;
    margin-top:15%;
    outline: none;
}
#emailInput:focus{
    border:none;
    border-bottom:2px solid #25DBDC;
}
@media(max-device-width:375px){
    #emailInput{
        grid-column-start:1;
    
    }
}



input[type=email] {
    color: #FFFFFF;
    border: none;
    border-bottom: 2px solid #FFFFFF;

  }

  #getStartedbtn{
    grid-column-start:21;
    grid-column-end:26;
    height: 54px;
    color:#FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight:700;
    background-color:#30DDDE;
    border-radius:70px;
    border: none;
    margin-top:20%; 
    transition: 0.2s linear;
    cursor: pointer;
    outline: none;
  }
  #getStartedbtn:hover{
      background-color:#21C5C6;
  }

  @media(max-device-width:768px){
    #getStartedbtn{
        grid-column-start: 19;
        grid-column-end: 26;
    }
}
@media(max-device-width:375px){
    #getStartedbtn{
        grid-column-start: 1;

    }
}




#usefulness{
    height: 750px;
}

  #littleGrid{
      display:grid;
      grid-template-columns: 1fr repeat(12, 1fr) ;
      padding-left: 5%;
      width:100%;
      height: 173px;
      
  }
  #usefulnessTitle{
    grid-column-start: 1;
    grid-column-end: 25;
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    font-weight: 900;
    color: #0D1C3F;
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 4rem;
}
@media(max-device-width:564px){
    #usefulnessTitle{
        font-size: 36px;
    }
}
@media(max-device-width:503px){
    #usefulnessTitle{
        margin-bottom: 1rem;
    }
}

  @media(max-device-width:375px){
    #usefulnessTitle{
        font-size: 27px;
    }
}


  #usefullnessIconGoverment{
    grid-column-start:2;
    margin-top: 2rem;
    margin-right: 1.2rem;
    margin-left: -15%;
  }
  @media(max-device-width:662px){
    #usefullnessIconGoverment{
        grid-column-start:1;
        margin-top: 2rem;
        margin-right:0;
        margin-left: 0;
    }
}
  @media(max-device-width:564px){
    #usefullnessIconGoverment{
        display: none;
    }
}

#goverment{
    grid-column-start:1;
    grid-column-end:13;
    width:483px;
    height: 173px;
    grid-row-start: 2;
    cursor: pointer;
    border-radius: 27px;
}
@media(max-device-width:662px){
    #goverment{
        width: 393px;
    }
}
@media(max-device-width:564px){
    #goverment{
        width: 111%;
    }
}



#goverment:hover{
    border:1px solid ;
    border-radius:27px;
    border-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



#goverment :nth-child(2){
    grid-column-start:3;
    grid-column-end:13;
    grid-row-start:1 ;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight:700;
    color:#111439;
    margin-top: 2rem;
    height: fit-content; 
}
@media(max-device-width:662px){
    #goverment :nth-child(2){
        font-size: 20px;
    }
}
@media(max-device-width:564px){
    #goverment :nth-child(2){
        grid-column-start: 1;
    }
}
@media(max-device-width:487px){
    #goverment :nth-child(2){
        font-size: 17px;
    }
}
@media(max-device-width:375px){
    #goverment :nth-child(2){
        font-size: 15px;
    }
}


#goverment :nth-child(3){
    grid-column-start:3;
    grid-column-end:13;
    grid-row-start:1 ;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight:400;
    color:#0D1C3F;
    margin-top: 5rem;
    height: fit-content;
}
@media(max-device-width:662px){
    #goverment :nth-child(3){
        font-size: 15px;
    }
}
@media(max-device-width:564px){
    #goverment :nth-child(3){
        grid-column-start: 1;
    }
}
@media(max-device-width:487px){
    #goverment :nth-child(3){
        font-size: 15px;
    }
}

@media(max-device-width:375px){
    #goverment :nth-child(3){
        font-size: 14px;

    }
}


#business{
        margin-top: 12.5rem;
        grid-column-start:1;
        grid-column-end:13;
        width:483px;
        height: 173px;
        grid-row-start: 2;
        cursor: pointer;
        border-radius: 27px;
}

@media(max-device-width:662px){
    #business{
        width:393px;
    }
}
@media(max-device-width:564px){
    #business{
        width: 111%;
    }
}


#business:hover{
    border:1px solid ;
    border-radius:27px;
    border-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#business :nth-child(2){
    grid-column-start:3;
    grid-column-end:13;
    grid-row-start:1 ;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight:700;
    color:#111439;
    margin-top: 2rem;
    height: fit-content;   
}
@media(max-device-width:662px){
    #business :nth-child(2){
        font-size: 20px;
    }
}
@media(max-device-width:564px){
    #business :nth-child(2){
        grid-column-start: 1;

    }
}
@media(max-device-width:487px){
    #business :nth-child(2){
        font-size: 17px;

    }
}

@media(max-device-width:375px){
    #business :nth-child(2){
        font-size: 15px;
    }
}

#business :nth-child(3){
    grid-column-start:3;
    grid-column-end:13;
    grid-row-start:1 ;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight:400;
    color:#0D1C3F;
    margin-top: 5rem;
    height: fit-content;
}
@media(max-device-width:662px){
    #business :nth-child(3){
        font-size: 15px;
    }
}
@media(max-device-width:564px){
    #business :nth-child(3){
        grid-column-start: 1;
    }
}
@media(max-device-width:487px){
    #business :nth-child(3){
        font-size: 14px;
    }
}





.gridAnimate{
    display: grid;
    grid-template-columns: 1fr repeat(37, 1fr) ;   
}


.containerAnimate{
    grid-column-start: 2;
    grid-column-end:40 ;
    grid-row-start:1 ;
    position: relative;
    margin: 0 auto;
}


.govermentFeatures{
    grid-column-start:30;
    grid-column-end:40;
    grid-row-start:1 ;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight:500;
    color:#0D1C3F;
    height: fit-content;
    margin-top: 13rem;
}

@media(max-device-width:564px){
    .govermentFeatures{
        grid-column-start: 29;
        font-size: 17px;

}
}



@media(max-device-width:375px){
    .govermentFeatures{
        grid-column-start:25;
        font-size: 13px;
}
}


.featureItemSign{
    margin-right: 5%;
}

.featureItem{
    opacity: 0;
}
.businessFeatures{
    grid-column-start:30;
    grid-column-end:40;
    grid-row-start:1 ;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight:500;
    color:#0D1C3F;
    height: fit-content;
    margin-top: 13rem;
}

@media(max-device-width:564px){
    .businessFeatures{
        grid-column-start: 29;
        font-size: 17px;
}
}

@media(max-device-width:375px){
    .businessFeatures{
        grid-column-start:25;
        font-size: 13px;
}
}

.businessfeatureItem{
    opacity: 0;
}





.footerContainer{
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0 20%;
}

@media (min-device-width:1920px){
    .footerContainer{ 
        padding: 0px 24%;
    }
}

@media (max-device-width: 807px){
    .footerContainer{ 
        padding: 0px 7%;
    }
}




@media (max-device-width:375px){
    .footerContainer{ 
        padding: 0px 5%;
    }
}





#exploreKmaTech{
    padding-bottom: 4rem;
    background:#111439;
}



#subscribe_Footer{
    margin-top: 8rem;
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 1;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
}

@media (max-device-width: 563px){
    #subscribe_Footer{ 
        font-size: 16px;
    }
}
@media (max-device-width: 375px){
    #subscribe_Footer{ 
        font-size: 15px;
    }
}
@media (max-device-width: 320px){
    #subscribe_Footer{ 
        grid-column-end: 18;
    }
}


#emailInput_Footer{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    background: none;
    outline: none;
    height: fit-content;
    margin-top: 12rem;
}
#emailInput_Footer:focus{
    border: none;
    border-bottom: 2px solid #25DBDC;
}

@media (max-width: 563px){
    #emailInput_Footer{ 
        font-size: 16px;
    }
}
@media (max-device-width: 375px){
    #emailInput_Footer{ 
        font-size: 15px;
    
    }
}


input[type=email] {
    color: #FFFFFF;
  }

  #getStartedbtn_Footer{
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 2;
    height: 54px;
    margin-top: -3.7rem;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #30DDDE;
    border-radius: 70px;
    border: none;
    margin-left: 5%;
    transition: 0.2s linear;
    cursor: pointer;
    outline: none;
  }
  @media (max-width: 563px){
    #getStartedbtn_Footer{ 
        font-size: 16px;
    }
}
@media (max-width: 502px){
    #getStartedbtn_Footer{ 
        margin-top: -4.7rem;
        grid-column-end: 18;
    }
}

@media (max-device-width: 375px){
    #getStartedbtn_Footer{ 
        margin-top: -3.7rem;
        font-size: 15px;
    }
}
@media (max-device-width: 320px){
    #getStartedbtn_Footer{ 
        font-size: 14px;
    }
}


  #getStartedbtn_Footer:hover{
    background-color:#21C5C6;
   
  }



  #navfooter{
    display: flex;
    flex-direction: column;
    grid-column-start: 20;
    grid-column-end: 33;
    grid-row-start: 1;
    margin-top: 3rem;
}


@media (max-device-width: 563px){
    #navfooter{ 
        margin-top: 4rem;
    }
}
@media (max-device-width: 504px){
    #navfooter{ 
        margin-top: 2rem;
    }
}
@media (max-device-width: 320px){
    #navfooter{ 
        grid-column-start: 19;
    }
}

#link_footer{
    text-decoration: none;
    color:#FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    opacity: 60%;
    transition: opacity 0.3s;
    margin-top: 0.1rem;
}
@media (max-device-width: 768px){
    #link_footer{
        font-size: 16px;
    }
}
@media (max-device-width: 375px){
    #link_footer{
        font-size: 15px;
    }
}

#link_footer:hover{
    opacity: 100%;

   
}
#link_footer:hover {
        opacity: 1;
        border-bottom:2px solid #30DDDE;
}
.logofooter{
    width: 40px;
    height: 40px;
    background: url("logo.svg") no-repeat;
    border-radius: 60%;
    grid-column-start:1;
    margin-top: -11rem;
}


@media (max-width: 502px){
    .logofooter{ 
        margin-top: -13rem;
    }
}


@media (max-width: 375px){
    .logofooter{ 
        margin-top: -12rem;
    }
}
